**/*.tmp
**/*.Xil
**/*.cache
**/*.hw
**/*.ip_user_files
**/*.runs
**/*.sim
**/vivado*.jou
**/vivado*.log
**/vivado*.str
**/hs_err_pid*.log
**/webtalk
**/webtalk*.jou
**/webtalk*.log
**/*.sdk/*/Debug
**/*.sdk/*/Release
**/*.sdk/*_hw_platform_0
**/*.sdk/*_hw_platform_0.bak*
**/*.sdk/.metadata
**/*.sdk/.sdk/launch_scripts
**/*.sdk/.tmp
**/*.sdk/.Xil
**/*.sdk/RemoteSystemsTempFiles
**/*.sdk/SDx.log
**/*.sdk/SDK.log
**/*.sdk/webtalk

